*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
a{
  text-decoration: none;
  color: inherit
}
.hero{
  background-color: #1f2937;
  color: #F9FaF8;
  width: 70vw;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav{
  display: flex;
  width: 100%;
  height: 4%;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
nav .logo{
  font-size: 24px;
  color: #F9FaF8;
}
.links{
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.links a{
  font-size: 18px;
  color: #e5e7eb;
  list-style: none;
  text-decoration: none;
}
.container1{
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 70vw;
  margin-top: 125px;
  justify-content: center;

}
.text1{
  width: 50%;
  line-height: 30px;
}
.container1 .placeholder{
  width: 50%;
  background-color: #6d747d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.placeholder img{
  width: 100%;
  height: auto;
}
.text1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text1 p{
  font-size: 18px;
  color: #e5e7eb;
}
.text1 h1{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FaF8;
}
.text1 button{
  padding: 12px;
  width: 10vw;
  background-color: #3882f6;
  text-decoration: none;
  border: 0px;
  color:#F9FaF8;
  border-radius: 10px;
}
.text1 button:hover{
  color: #e5e7eb;
}
.information{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  padding-top: 5%;
  align-items: center;
  padding-bottom: 120px;
}
.information-container{
  display: flex;
  flex-direction: row;
  gap: 5vw;
  width: 70%;
  padding-top: 60px;
  justify-content: space-between;
  
}
.caption{
  text-align: center;
}
.square-container{
  display:flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 170px;
}
.square{
  width: 10.625em;
  height: 10.625em;
  border: 5px solid #3882f6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.square img{
  width: 50%;
  height: auto;
}
.square img:hover{
  filter: drop-shadow(1px 1px #3882f6);
}
.quote{
  display: flex;
  width: 100vw;
  height: 40vh;
  background-color: #e5e7eb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}
blockquote{
  font-size: 36px;
  color: #1f2937;
  font-weight: lighter;
  width: 50vw;
  padding: 10px;
}
.citation{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  width: 50vw;
  font-weight: bold;
}
.call-to-action-container{
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F9FaF8;
}
.call-to-action{
  background-color: #3882f6;
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.call-to-action .text-container{
  width: 70%;
}
.call-to-action .text-container h1{
  font-size: 24px;
  color: #F9FaF8;
}
.call-to-action .text-container p{
  font-size: 18px;
  color: #e5e7eb
}
.call-to-action .button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.call-to-action .button-container button{
  color: #e5e7eb;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  background-color: #3882f6;
  padding: 6px 20px;
}
.call-to-action .button-container button:hover{
  color: #F9FaF8;
}
footer{
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
footer p{
  color: #e5e7eb;
  font-size: 18px;
}
